@font-face {
    font-family:'arzhu';
    src:url('/font/AlibabaHealthFont2.0CN-45R.ttf'); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}